<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/style.css" type="text/css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/uiEmbelishment.js" type = "text/javascript"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-app.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-firestore.js"></script>
  <script src = "/uiBuilders.js" type = "text/javascript"></script>
  <script src = "/uiInteractions.js" type = "text/javascript"></script>
  <script src="/app.js" type="text/javascript"></script>
  <title></title>
</head>

<body>
  <div class = "mainContainer">
    <h1 id = "greeting" style="color:white"></h1>
    <div class = "panelContainer-col">
      <div class = "panelContainer-row">
        <div class = "panel">
          <div class = "spending-today">
            <h1 id = "spending-today"></h1>
            <h5>Spent Today</h5>
            <p id = "average-comparison-today" class = "grey"></p>
          </div>
        </div>
        <div class = "panel">
          <div class = "spending-week"></div>
        </div>
      </div>

    <div class = "panelContainer-row">
      <div class = "panel">
        <h5>Latest Spending</h3>
          <div class = "allSpending">
            <table id = "spendingList">
            </table>
          </div>
      </div>
      <div class = "panelContainer-col midPanel">
        <div class = "panel">
          <h5>Add Expense</h3>

            <form id = "add-expense-form">

              <input type = "number" step="0.01" id = "add-expenseAmount" placeholder="$0.00"/>
              <input type = "text" id = "add-expenseName" placeholder="Kraby Patty" />
              <input type = "text" id = "add-expenseLocation" placeholder="Crusty Krabs" />

              <select id= "add-expenseType">
              </select>

              <button>Add Expense</button>

            </form>
        </div>
        <div class = "panel">
          <div class = "header-row">
            <h5>Categories</h3>
            <button data-id = "categories-add-closed" id = "categories-add" class = "add-btn">+</button>
          </div>

            <form id = "add-expenseType-form" style="display:none;">
              <input type = "text" id = "add-expenseTypeName" placeholder="Eating Out" />
              <input type = "color" id = "add-expenseTypeColor"/>
              <select onchange="checkHasBudget(this.value)" id = "add-expenseTypeBudgetPeriod">
                <option value = "trackOnly">track only</option>
                <option value = "noRenew">does not renew</option>
                <option value = "weekly">renews weekly</option>
                <option value = "monthly">renews monthly</option>
                <option value = "yearly">renews yearly</option>
              </select>
              <input style ="display:none;" type = "text" step="0.01" id = "add-expenseTypeBudget" placeholder="80$" />
              <button>Add Category</button>
            </form>
        </div>
      </div>

    </div>
    </div>

  </div>


</body>

</html>
