body,html{
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h5{
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: normal;
  color: grey;
}

h3{
  padding: none;
  margin: 0;
}

.grey{
  color: grey;
}

.container{

}

.panelContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.panel{
  border-radius: 20px;
  box-shadow:5px 5px 15px lightgrey;
  padding: 1em;
  margin: 10px;
}

.badge{
  margin-top: 5px;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  opacity: .7;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-top: 1px solid #ddd;
  vertical-align: top;
}

.moneyCol{
  text-align: right;
  font-size: 1.5em;
}

.allSpending{
  max-height: 350px;
  overflow: scroll;
}
