body,html{
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #9bc5c3, #616161);
}

h5{
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: normal;
  color: grey;
}

h3{
  padding: none;
  margin: 0;
}

.grey{
  color: grey;
}

.container{

}

.panelContainer-row{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.panelContainer-col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.panel{
  background: white;
  border-radius: 20px;
  box-shadow:5px 5px 15px rgba(0,0,0,0.2);
  padding: 1em;
  margin: 10px;
}

.midPanel{
  max-width: 300px;
}

.badge{
  margin-top: 5px;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  opacity: .7;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-top: 1px solid #ddd;
  vertical-align: top;
}

.moneyCol{
  text-align: right;
  font-size: 1.5em;
}

.chevron{
  vertical-align: top;
  text-align: right;
  color: lightgrey;
  padding-top: 15px;
  font-size: 1em;
  cursor: pointer;
}

.allSpending{
  max-height: 350px;
  overflow-y: scroll;
}
